{% extends 'base.html' %}

{% block title %}Application Records{% endblock %}

{% block content%}
    <script src="{{ url_for('static', filename='home.js') }}"></script>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>

    <div class="container mt-3">
        <div class="mt-3 mb-3">
            <h3>Application Records</h3>
        </div>
        <div class="d-flex">
            <form method="GET">
                <div class="input-group mb-3">
                    <input id="search-box" name="query" type="text" class="form-control" target="{{ url_for('trackapp.search') }}"/>
                    <button class="btn btn-outline-secondary" type="submit">Search</button>                 
                </div>                
            </form>

            <div class="d-flex me-auto align-items-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if currpage > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('trackapp.index', page=currpage - 1) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if currpage < maxpage %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('trackapp.index', page=currpage + 1) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>

                <span class="ms-2">{{pageinfo}}: {{status_stats}}</span>
            </div>
            <div class="ms-auto">
                <a class="btn btn-primary me-auto" href="{{ url_for('trackapp.create') }}">Add record</a>
            </div>
        </div>
        <table class="table table-striped table-hover" id="tableAppInfo">
            <thead class="table-light">
                <th>Company</th>
                <th>Position/Program</th>
                <th>Hiring Status</th>
                <th>Application Deadline</th>
                <th>Company Type</th>
                <th>Priority</th>
                <th>Application Portal</th>
                <th>Status</th>
                <th>Update Time</th>
                <th>Action Deadline</th>
                <th>Comment</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </thead>
            {% for row in rows %}
            <tr>
                <td class="tdComp">{{row["company"]}}</td>
                <td class="tdPos"><a href="{{ row['pos_link'] }}" target="_blank">{{row["position"]}}</a></td>
                <td class="td-editable">{{row["posting_status"]}}</td>
                <td class="td-editable">{{row["deadline"]}}</td>
                <td class="td-editable">{{row["company_type"]}}</td>
                <td class="td-editable">{{row["app_priority"]}}</td>
                <td class="td-editable">{% if row['app_portal'] %}<a href="{{ row['app_portal'] }}" target="_blank">Link</a>{% endif %}</td>
                <td class="td-editable tdStatus">{{row["app_status"]}}</td>
                <td class="td-editable">{{row["update_time"]}}</td>
                <td class="td-editable">{{row["action_deadline"]}}</td>
                <td class="td-editable tdNote">{{row['note']}}</td>
                <td><a class="btn btn-secondary" href="{{ url_for('trackapp.details', pid=row['pos_id']) }}">...</a></td>
                <td><a class="btn btn-secondary" href="{{ url_for('trackapp.update', pid=row['pos_id']) }}">...</a></td>
                <td>
                    <form action="{{ url_for('trackapp.delete', pid=row['pos_id']) }}" method="post">
                        <input class="btn btn-danger" type="submit" value="✕" onclick="return confirm('Comfirm to delete entry');">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="hidden div-update-status" hidden>
        <select class="form-select update update-status" name="status" aria-label="update-status">
            <option value="None"></option>
            <option value="Ready">Ready</option>
            <option value="Ongoing">Ongoing</option>
            <option value="Submitted">Submitted</option>
            <option value="Interview">Interview</option>
            <option value="Rejected">Rejected</option>
            <option value="Offer">Offer</option>
        </select>
        <label for="update-time" class="form-label">Time updated</label>
        <input type="datetime-local" class="form-control update update-time" name="time">
        <input type="text" class="update update-company-auto" name="company" aria-label="company-hidden" hidden/>
        <input type="text" class="update update-position-auto" name="position" aria-label="position-hidden" hidden/>
        <div class="mt-3">
            <button class="btn btn-primary" onclick="updateTd('tdStatus')">Confirm</button>
            <button class="btn btn-secondary" onclick="revertTd('tdStatus')">Cancel</button>            
        </div>
    </div>

    <div class="hidden div-update-note" hidden>
        <textarea class="form-control update update-note" name = "note" aria-label="update-note"></textarea>
    </div>

    <div class="hidden" id="div-edit-button" hidden>
        <button type="button" class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
        </button>
    </div>

    <script>
        function get_url_update() {
            return "{{ url_for('trackapp.create') }}";
        }
    </script>
{% endblock %}
